---
author: "Hairizuan"
date: {{ post_date }}
title: {{ post_title }}
weight: 10
categories: ["meetup"]
---

GCPUG would be hosting the following event on **{{ event_date }}** at Google Singapore. 

If you are interested in the talks, go to the following meetup page and find out more there:

{{ event_link }}

## Event details

{{ content }}